<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.developia.mapper.BoardMapper">
<select id="getList">
<![CDATA[
select * from tbl_board where bno > 0
]]>
</select>

<select id="getListWithPaging" resultType="BoardVO">
<![CDATA[
SELECT bno, title, content, writer, regdate, updatedate
FROM (
    SELECT /*+INDEX_DESC(tbl_board pk_board_bno) */
        ROWNUM rn, bno, title, content, writer, regdate, updatedate
    FROM tbl_board
    WHERE rownum <= #{pageNum} * #{amount})
WHERE rn > (#{pageNum} - 1) * #{amount}
]]>
</select>

<!-- <select id="getListWithPaging" resultType="BoardVO">
<![CDATA[
SELECT bno, title, content, writer, regdate, updatedate
FROM(SELECT ROWNUM rnum, A.* 
    FROM(
        SELECT bno, title, content, writer, regdate, updatedate
        FROM tbl_board
        ORDER BY bno DESC) A
        ) B
WHERE rnum BETWEEN ((#{pageNum} - 1) * #{amount} + 1) AND #{pageNum} * #{amount}
]]>
</select> -->

<insert id="insert">
<![CDATA[
insert into tbl_board (bno, title, content, writer)
values (seq_board.nextval, #{title}, #{content}, #{writer})
]]>
</insert>

<!-- insertSelectKey는 bno의 값을 spring에서 알아야할 때 사용. 쿼리를 두 번 날림. 
bno값은 오라클에서 자동 지정되므로 seq_board.nextval를 select하고 그걸 insert하는 방식 -->

<insert id="insertSelectKey">
	<!-- order BEFORE로 하면 insert 전체 selectKey부터 실행 -->
	<selectKey keyProperty="bno" order="BEFORE" resultType="long">
	<![CDATA[
	select seq_board.nextval from dual
	]]>
	</selectKey>
	<![CDATA[
	insert into tbl_board (bno, title, content, writer)
	values (#{bno}, #{title}, #{content}, #{writer})
	]]>
</insert>

<select id="read">
	select * from tbl_board where bno = #{bno}
</select>

<delete id="delete">
	delete tbl_board where bno = #{bno}
</delete>

<update id="update">
	update tbl_board
	set title = #{title},
	content = #{content},
	writer = #{writer},
	updateDate = sysdate
	where bno = #{bno}
</update>
</mapper>